<div class="text-center text-white bg-danger p-1">
    We
    <i class="fas fa-heart"></i>
    open-source, check out our GitHub <a href="https://www.github.com/asciidude/Buildy" target="_blank" class="text-white">here</a>.
</div>