<nav class="navbar navbar-expand-sm navbar-dark p-3" style="background: rgb(25, 25, 25);">
    <a class="navbar-brand me-2" href="#">
        <img src="/images/Buildy.png" alt="Logo" width=50>
    </a>

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navigator"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigator">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Discord</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Account
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Websites</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
</nav>

<p class="bg-primary text-center text-white">
    This is a development build, bugs are expected.
</p>