<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body class="bg-dark">
    <%- include('./partials/nav.ejs') %>

    <div class="py-5 text-center text-white bg-primary">
        <div class="container py-5">
          <div class="row py-5">
            <div class="mx-auto col-lg-10">
              <h1 class="display-4 mb-4">Welcome to your dashboard.</h1>

              <p class="lead mb-0">
                Here you're able to find a ton of things, including your websites.
              </p>

              <p class="mb-0">
                  <i class="fas fa-chevron-circle-right"></i>
                  Hint: you can also see if your website has been featured on our websites page.
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
